body {
  margin: 0;
}
.nav {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.nav__logo {
  height: 200px;
}

.content-container {
  display: grid;
}

.parallax--image1 {
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax--image2 {
  background-image: url("https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1598377868000/photosp/af0f323e-529d-4d7d-beba-3d08905f36a5/stock-photo-sunset-coast-pier-tide-af0f323e-529d-4d7d-beba-3d08905f36a5.jpg");
}

.parallax {
  width: 100%;
  height: 1000px;
}

.parallax__art {
  height: inherit;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-cover {
  color: green;
  background-color: green;
  height: 500px;
}

.parallax__text {
  font-size: 100px;
}

.parallax--concert1 {
  z-index: -1;
  background-image: url("Parallax\ Images/1.png");
}

.parallax--concert2 {
  z-index: 0;
  background-image: url("Parallax\ Images/2.png");
}

.parallax--concert3 {
  background-image: url("Parallax\ Images/3.png");
}
